In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import json

soup = BeautifulSoup()
from urllib.request import urlopen

In [2]:
def individual_url(year,search_number):
    '''
    formats url with year and search number
    each url gives at least 50 items
    example: https://www.imdb.com/search/title/?title_type=feature&year=2006-01-01,2006-12-31&start=1&ref_=adv_nxt
    '''
    _string = 'https://www.imdb.com/search/title/?title_type=feature&year={}-01-01,{}-12-31&start={}&ref_=adv_nxt'.format(year,year,search_number)
    
    return _string

In [3]:
def search_list(list_of_years,list_of_searches):
    '''
    returns a list of tuple (individual_url, year)
    takes a list of years and list of searches to compile a list of urls using individual_url function
    
    example: https://www.imdb.com/search/title/?title_type=feature&year=LIST_OF_YEARS&start=LIST_OFSEARCHES&ref_=adv_nxt
    _list = [list of urls]
    '''
    search_list = []
    for year in list_of_years:
        for i in list_of_searches:
            search_list.append((individual_url(year,i),year))
    return search_list

In [4]:
time_search = search_list([2004],[1])
time_search

[('https://www.imdb.com/search/title/?title_type=feature&year=2004-01-01,2004-12-31&start=1&ref_=adv_nxt',
  2004)]

In [5]:
def list_individual_urls(list_of_years,list_of_searches):
    '''
    returns list of (individual urls, title, date)
    ATTENTION! list_of_searches MUST start at 1 and be increments of 50(ex. 1,51,101...) or else DUPLICATES
    '''
    
    _list = []
    # create a list of url searches
    _searched = search_list(list_of_years,list_of_searches)
    
    for link, year in _searched:
        uClient = urlopen(link)
        page_html = uClient.read()
        uClient.close()
        
        page_soup = BeautifulSoup(page_html, 'html.parser')
        containers = page_soup.findAll("h3",{"class":"lister-item-header"})
        for container in containers:
            _string = 'https://www.imdb.com' + container.a['href']
            _list.append((_string,container.a.text, year))
            
    return _list

In [6]:
import re
from tqdm import tqdm

In [7]:
def scraped_df(list_of_years,list_of_searches):
    '''
    returns a merged dataframe from list of individual urls AND items from EACH individual URL
    '''
    #creating first dataframe of urls, title, year
    _list_url = pd.DataFrame(list_individual_urls(list_of_years, list_of_searches))
    _list_url.columns = ['url','title','year']
    
    #creating second dataframe of urls, genre, gross_usa, budget, worldwide_gross
    _individual = []
    for link in tqdm(_list_url['url']):
        uClient = urlopen(link)
        page_html = uClient.read()
        uClient.close()
        
        page_soup = BeautifulSoup(page_html, 'html.parser')
        
        
        # FROM HERE ON: we execute multiple 'try's incase regex can not find the matched criteria. If not found return empty string.
        # try: something, except(error): ''
        con_genre = page_soup.findAll("div",{"class":"see-more inline canwrap"})
        _genre = []
        try:
            for i in con_genre[-1].findAll('a'):
                _genre.append(i.text.strip(' '))
        except:
            _genre = []
            
        con_info = page_soup.findAll("div",{"class":"txt-block"})
        str_con_info = str(con_info)
        _str_con_info = str_con_info.replace('\n',' ')
        
        _gross_USA = ''
        try:
            _gross_USA = re.findall(r'(?<=Gross USA:<\/h4>).\S*',_str_con_info)[0].strip(' ')
        except:
            _gross_USA = ''
            
        _budget = ''
        try:
            _budget = re.findall(r'(?<=Budget:<\/h4>).\S*',_str_con_info)[0].strip(' ')
        except:
            _budget = ''
            
            
        _worldwide_gross = ''
        try:
            _worldwide_gross = re.findall(r'(?<=Worldwide Gross:<\/h4>).\S*',_str_con_info)[0].strip(' ')
        except:
            _worldwide_gross = ''
            
        _individual.append((link,_genre,_gross_USA,_budget,_worldwide_gross))
            
            
    _individual_df = pd.DataFrame(_individual)
    _individual_df.columns = ['url','genre','gross_usa','budget','worldwide_gross']
    
    _merged = pd.merge(_list_url,_individual_df,on='url',how='outer')
    
    return _merged

In [8]:
sample_albert = scraped_df([2004],[1])
sample_albert

100%|██████████| 50/50 [00:40<00:00,  1.23it/s]

,url,title,year,genre,gross_usa,budget,worldwide_gross
0,https://www.imdb.com/title/tt0377092/,Mean Girls,2004,[Comedy],"$86,058,055","$17,000,000","$130,125,829"
1,https://www.imdb.com/title/tt0332280/,The Notebook,2004,"[Drama, Romance]","$81,001,787","$29,000,000","$115,882,795"
2,https://www.imdb.com/title/tt0304141/,Harry Potter and the Prisoner of Azkaban,2004,"[Adventure, Family, Fantasy, Mystery]","$249,975,996","$130,000,000","$799,972,094"
3,https://www.imdb.com/title/tt0347149/,Howl's Moving Castle,2004,"[Animation, Adventure, Family, Fantasy]","$5,576,743","$24,000,000","$236,212,992"
4,https://www.imdb.com/title/tt0364725/,Dodgeball,2004,"[Comedy, Sport]","$114,326,736","$20,000,000","$168,423,227"
5,https://www.imdb.com/title/tt0332452/,Troy,2004,"[Drama, History]","$133,378,256","$175,000,000","$497,409,852"
6,https://www.imdb.com/title/tt0338013/,Eternal Sunshine of the Spotless Mind,2004,"[Drama, Romance, Sci-Fi]","$34,400,301","$20,000,000","$74,036,715"
7,https://www.imdb.com/title/tt0349903/,Ocean's Twelve,2004,"[Crime, Thriller]","$125,544,280","$110,000,000","$362,744,280"
8,https://www.imdb.com/title/tt0265208/,The Girl Next Door,2004,"[Comedy, Drama, Romance]","$14,589,444","$25,000,000","$30,381,722"
9,https://www.imdb.com/title/tt0381707/,White Chicks,2004,"[Comedy, Crime]","$70,831,760","$37,000,000","$113,100,873"
10,https://www.imdb.com/title/tt0368891/,National Treasure,2004,"[Action, Adventure, Mystery, Thriller]","$173,008,894","$100,000,000","$347,512,318"
11,https://www.imdb.com/title/tt0317705/,The Incredibles,2004,"[Animation, Action, Adventure, Family]","$261,441,092","$92,000,000","$631,606,713"
12,https://www.imdb.com/title/tt0356150/,EuroTrip,2004,[Comedy],"$17,771,387","$25,000,000","$22,605,153"
13,https://www.imdb.com/title/tt0375679/,Crash,2004,"[Crime, Drama, Thriller]","$54,580,300","$6,500,000","$98,410,061"
14,https://www.imdb.com/title/tt0405159/,Million Dollar Baby,2004,"[Drama, Sport]","$100,492,203","$30,000,000","$216,763,646"
15,https://www.imdb.com/title/tt0343660/,50 First Dates,2004,"[Comedy, Drama, Romance]","$120,908,074","$75,000,000","$198,520,934"
16,https://www.imdb.com/title/tt0316654/,Spider-Man 2,2004,"[Action, Adventure, Sci-Fi]","$373,585,825","$200,000,000","$788,976,453"
17,https://www.imdb.com/title/tt0372183/,The Bourne Supremacy,2004,"[Action, Mystery, Thriller]","$176,241,941","$75,000,000","$290,835,269"
18,https://www.imdb.com/title/tt0378194/,Kill Bill: Vol. 2,2004,"[Action, Crime, Thriller]","$66,208,183","$30,000,000","$154,116,796"
19,https://www.imdb.com/title/tt0365748/,Shaun of the Dead,2004,"[Comedy, Horror]","$13,542,874","GBP4,000,000","$30,076,102"
20,https://www.imdb.com/title/tt0387564/,Saw,2004,"[Horror, Mystery]","$56,000,369","$1,200,000","$103,911,669"
21,https://www.imdb.com/title/tt0374900/,Napoleon Dynamite,2004,[Comedy],"$44,540,956","$400,000","$46,138,887"
22,https://www.imdb.com/title/tt0357413/,Anchorman: The Legend of Ron Burgundy,2004,[Comedy],"$85,288,303","$26,000,000","$90,649,730"
23,https://www.imdb.com/title/tt0361862/,The Machinist,2004,"[Drama, Thriller]","$1,082,715","$5,000,000","$8,203,235"
24,https://www.imdb.com/title/tt0289879/,The Butterfly Effect,2004,"[Drama, Sci-Fi, Thriller]","$57,938,693","$13,000,000","$96,822,421"
25,https://www.imdb.com/title/tt0337563/,13 Going on 30,2004,"[Comedy, Fantasy, Romance]","$57,231,747","$37,000,000","$96,455,697"
26,https://www.imdb.com/title/tt0167190/,Hellboy,2004,"[Action, Fantasy, Horror]","$59,623,958","$66,000,000","$99,378,985"
27,https://www.imdb.com/title/tt0369339/,Collateral,2004,"[Crime, Drama, Thriller]","$101,005,703","$65,000,000","$220,926,695"
28,https://www.imdb.com/title/tt0363547/,Dawn of the Dead,2004,"[Action, Horror]","$59,020,957","$26,000,000","$102,278,712"
29,https://www.imdb.com/title/tt0338751/,The Aviator,2004,"[Biography, Drama]","$102,610,330","$110,000,000","$213,719,942"
30,https://www.imdb.com/title/tt0319262/,The Day After Tomorrow,2004,"[Action, Adventure, Sci-Fi, Thriller]","$186,740,799","$125,000,000","$552,639,571"
31,https://www.imdb.com/title/tt0338526/,Van Helsing,2004,"[Action, Adventure, Fantasy]","$120,177,084","$160,000,000","$300,157,638"
32,https://www.imdb.com/title/tt0350258/,Ray,2004,"[Biography, Drama, Music]","$75,331,600","$40,000,000","$123,971,376"
33,https://www.imdb.com/title/tt0293508/,The Phantom of the Opera,2004,"[Drama, Musical, Romance, Thriller]","$51,268,815","$70,000,000","$154,648,887"
34,https://www.imdb.com/title/tt0335345/,The Passion of the Christ,2004,[Drama],"$370,782,930","$30,000,000","$612,054,428"
35,https://www.imdb.com/title/tt0363163/,Downfall,2004,"[Biography, Drama, History, War]","$5,509,040","EUR13,500,000","$92,181,574"
36,https://www.imdb.com/title/tt0362227/,The Terminal,2004,"[Comedy, Drama, Romance]","$77,872,883","$60,000,000","$219,100,084"
37,https://www.imdb.com/title/tt0298148/,Shrek 2,2004,"[Animation, Adventure, Comedy, Family, Fantasy...","$441,226,247","$150,000,000","$928,760,770"
38,https://www.imdb.com/title/tt0411705/,9 Songs,2004,"[Drama, Music, Romance]","$66,853","GBP1,000,000","$1,590,308"
39,https://www.imdb.com/title/tt0368447/,The Village,2004,"[Drama, Mystery, Thriller]","$114,197,520","$60,000,000","$256,697,520"
40,https://www.imdb.com/title/tt0375912/,Layer Cake,2004,"[Action, Crime, Drama, Thriller]","$2,339,957","GBP4,000,000","$11,850,214"
41,https://www.imdb.com/title/tt0328107/,Man on Fire,2004,"[Action, Crime, Drama, Thriller]","$77,911,774","$70,000,000","$130,834,852"
42,https://www.imdb.com/title/tt0339291/,Lemony Snicket's A Series of Unfortunate Events,2004,"[Adventure, Comedy, Family, Fantasy]","$118,634,549","$140,000,000","$211,468,235"
43,https://www.imdb.com/title/tt0349683/,King Arthur,2004,"[Action, Adventure, Drama, History, War]","$51,882,244","$120,000,000","$203,567,857"
44,https://www.imdb.com/title/tt0376541/,Closer,2004,"[Drama, Romance]","$33,987,757","$27,000,000","$115,505,027"
45,https://www.imdb.com/title/tt0330793/,The Punisher,2004,"[Action, Crime, Drama, Thriller]","$33,810,189","$33,000,000","$54,700,105"
46,https://www.imdb.com/title/tt0296572/,The Chronicles of Riddick,2004,"[Action, Adventure, Sci-Fi, Thriller]","$57,761,012","$105,000,000","$115,900,534"
47,https://www.imdb.com/title/tt0290002/,Meet the Fockers,2004,"[Comedy, Romance]","$279,261,160","$80,000,000","$522,657,936"
48,https://www.imdb.com/title/tt0390022/,Friday Night Lights,2004,"[Action, Drama, Sport]","$61,255,921","$30,000,000","$61,950,770"
49,https://www.imdb.com/title/tt0373074/,Kung Fu Hustle,2004,"[Action, Comedy, Fantasy]","$17,108,591","$20,000,000","$104,882,445"

In [9]:
sample_albert['genre'][0]

['Comedy']

In [10]:
sample_albert['budget'][0]

'$17,000,000'

In [11]:
df = pd.DataFrame(list_individual_urls([2004],[1]))
df.columns = ['url','title','year']
df

,url,title,year
0,https://www.imdb.com/title/tt0377092/,Mean Girls,2004
1,https://www.imdb.com/title/tt0332280/,The Notebook,2004
2,https://www.imdb.com/title/tt0304141/,Harry Potter and the Prisoner of Azkaban,2004
3,https://www.imdb.com/title/tt0347149/,Howl's Moving Castle,2004
4,https://www.imdb.com/title/tt0364725/,Dodgeball,2004
5,https://www.imdb.com/title/tt0332452/,Troy,2004
6,https://www.imdb.com/title/tt0338013/,Eternal Sunshine of the Spotless Mind,2004
7,https://www.imdb.com/title/tt0349903/,Ocean's Twelve,2004
8,https://www.imdb.com/title/tt0265208/,The Girl Next Door,2004
9,https://www.imdb.com/title/tt0381707/,White Chicks,2004
10,https://www.imdb.com/title/tt0368891/,National Treasure,2004
11,https://www.imdb.com/title/tt0317705/,The Incredibles,2004
12,https://www.imdb.com/title/tt0356150/,EuroTrip,2004
13,https://www.imdb.com/title/tt0375679/,Crash,2004
14,https://www.imdb.com/title/tt0405159/,Million Dollar Baby,2004
15,https://www.imdb.com/title/tt0343660/,50 First Dates,2004
16,https://www.imdb.com/title/tt0316654/,Spider-Man 2,2004
17,https://www.imdb.com/title/tt0372183/,The Bourne Supremacy,2004
18,https://www.imdb.com/title/tt0378194/,Kill Bill: Vol. 2,2004
19,https://www.imdb.com/title/tt0365748/,Shaun of the Dead,2004
20,https://www.imdb.com/title/tt0387564/,Saw,2004
21,https://www.imdb.com/title/tt0374900/,Napoleon Dynamite,2004
22,https://www.imdb.com/title/tt0357413/,Anchorman: The Legend of Ron Burgundy,2004
23,https://www.imdb.com/title/tt0361862/,The Machinist,2004
24,https://www.imdb.com/title/tt0289879/,The Butterfly Effect,2004
25,https://www.imdb.com/title/tt0337563/,13 Going on 30,2004
26,https://www.imdb.com/title/tt0167190/,Hellboy,2004
27,https://www.imdb.com/title/tt0369339/,Collateral,2004
28,https://www.imdb.com/title/tt0363547/,Dawn of the Dead,2004
29,https://www.imdb.com/title/tt0338751/,The Aviator,2004
30,https://www.imdb.com/title/tt0319262/,The Day After Tomorrow,2004
31,https://www.imdb.com/title/tt0338526/,Van Helsing,2004
32,https://www.imdb.com/title/tt0350258/,Ray,2004
33,https://www.imdb.com/title/tt0293508/,The Phantom of the Opera,2004
34,https://www.imdb.com/title/tt0335345/,The Passion of the Christ,2004
35,https://www.imdb.com/title/tt0363163/,Downfall,2004
36,https://www.imdb.com/title/tt0362227/,The Terminal,2004
37,https://www.imdb.com/title/tt0298148/,Shrek 2,2004
38,https://www.imdb.com/title/tt0411705/,9 Songs,2004
39,https://www.imdb.com/title/tt0368447/,The Village,2004
40,https://www.imdb.com/title/tt0375912/,Layer Cake,2004
41,https://www.imdb.com/title/tt0328107/,Man on Fire,2004
42,https://www.imdb.com/title/tt0339291/,Lemony Snicket's A Series of Unfortunate Events,2004
43,https://www.imdb.com/title/tt0349683/,King Arthur,2004
44,https://www.imdb.com/title/tt0376541/,Closer,2004
45,https://www.imdb.com/title/tt0330793/,The Punisher,2004
46,https://www.imdb.com/title/tt0296572/,The Chronicles of Riddick,2004
47,https://www.imdb.com/title/tt0290002/,Meet the Fockers,2004
48,https://www.imdb.com/title/tt0390022/,Friday Night Lights,2004
49,https://www.imdb.com/title/tt0373074/,Kung Fu Hustle,2004